body {
	margin: 0;
}

h1 {
	background-color: #37c67f;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 30px;
	border-bottom: 3px gray solid;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	color: white;
}

nav {
	margin-top: 0;
	background-color: #5f2e82;
	padding: 5px;
}

ul li {
	display: inline-block;
}

li a {
	color: white;
	text-decoration: none;
	padding-right: 70px;
}



blockquote {
	display: table;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
}

blockquote p {
	display: table-cell;
	width: 90%;
	vertical-align: top;
}

blockquote form {
	display: table-cell;
	width: 10%;
}

main, footer {
	padding: 20px;
}